---
import Layout from "../layouts/Layout.astro";
//import Card from '../components/Card.astro';
import Header from "../components/Header.astro";
---

<Layout title="gRPC UI">
	<Header />
	<main>
		<h1>Welcome to <span class="text-gradient">gRPC UI</span></h1>
		<p>
			gRPC UI is an online web tool that lets you interact with gRPC
			servers via a browser. It's a UI for gRPC APIs like what Postman is
			for REST. You can use the web app at <code
				><a href="https://app.grpcui.dev" target="_blank"
					>app.grpcui.dev</a
				>
			</code><br /><br />
			<strong>Important:</strong> You should allow CORS to <code
				>https://app.grpcui.dev</code
			> in your gRPC server before getting started.
		</p>
	</main>
</Layout>
